@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.content {
  min-height: 100vh;
  max-width: min(700px, 90%);
  margin: 0 auto;
  padding-bottom: 5%;
}

.header {
  padding-top: 3%;
  text-align: center;
}

figure {
  width: 100%;
  margin: 0;
}

figcaption {
  text-align: left;
}

@media screen and (min-width: 769px) {
  .content {
    width: 50%;
  }
  div {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3.2857rem;
  }
}
