$font-stack: Montserrat, sans-serif;
$light: #ccd6f6;
$gray: #8892b0;
$blue: #87cefa;
$navy: rgb(10,25,47);
$soft-white: #f8f9fa;

@mixin bigFlex() {
  display: flex;
  width: 100%;
}

@mixin fixedCenter() {
  display: flex;
  position: fixed;
  width: 90%;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin sideBar() {
  position: relative;
  margin: 0;
  flex-direction: row;
}

html {
  @include bigFlex();
}

body {
  font: 100% $font-stack;
  color: black;
  background-color: linear-gradient(180deg,#F7FAF2,#ffffff);
  @include bigFlex();
}

#root{
  @include bigFlex();
  flex-wrap: wrap;
}

.App {
  @include bigFlex();
  background: linear-gradient(180deg,#F7FAF2,#ffffff);
  z-index: 4;
  justify-content: center;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  img {
    border-radius: 5px;
    position: static;
    height: auto;
    max-width: 100%;
  }
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
    white-space: pre-wrap;
}

.top {
  content: "";
  position: fixed;
  width: 100%;
  height: 70px;
  background: $soft-white;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  z-index: 5;
}

.navbar {
  @include fixedCenter();
  //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  //background-color: black;
  padding: 0;
  background-color: $soft-white;
  margin: 0;
  height: 70px;
  z-index: 6;
  a {font-size: 1rem;}

  .nav1 {
    flex: 2;
    align-self: center;
  }

  .clickable {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-self: center;
    min-width: 500px;
  }

  .nav2 {
    flex: 1;
    text-align: center;
  }
}

.link i {
  font-size: 40px;
}

.link {
  padding: 8.5px;
}

a:hover {
  color: $light;
}

a {
    cursor: pointer;
}

.link:hover {
  color: $light;
  a {
    display: flex;
    flex-direction: column;
    padding: 8.5px;
  }
}

.socials {
  @include sideBar();
  text-align: center;
  margin-top: 5vh;
}

.arrows {
  @include sideBar();
  text-align: right;
  align-items: flex-end;

  a {
    display: flex;
    flex-direction: column;
    padding: 8.5px;
  }
}


.page {
  display: grid;
  grid-auto-rows: 1fr;

  * {
    //background: rgba(0,0,0,0.6);
  }

  div {
    border-radius: 5px;
  }

  .whiter {
    margin-bottom: 20px;
  }
  button:hover {
    background: rgba(204, 214, 246, 0.08);
    //background-color: rgba(10,25,47,0.61);
  }

  .no-top {
    margin-top: 0;
    padding-top: 0;
  }
}

#new-home{
  margin-top: 70px;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ), url("IMG_0837.JPG");
  height: 55vh;
  min-height: 400px;
  color: white;
  img {
    position: static;
    width: 30vw;
    height: auto;
  }
  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  h1 {
      font-size: 80px;
      margin-bottom: 10vh;
  }
}

#home {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    position: static;
    width: 10vw;
    border-radius: 5px;
    height: auto;
  }
}

#about {
  .container.small{
    max-width: 1000px;
  }

  h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.body {
  margin-top: 5vh;
  .container.big {
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container.small{
    max-width: 1000px;
  }
  //.container{
  //  width: 100%;
  //  max-width: 1000px;
  //  height: 100%;
  //
  //}
}


.footer {
  @include sideBar();
  margin-top: 3vh;
  margin-bottom: 3vh;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 3.2857rem;
    line-height: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  p {
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .page {
    .container.small{
      //border: 20px solid rgba(0,0,0,0.6);
    }

    .container.big {
      min-height: 65vh;
      align-self: end;
      //border: 40px solid rgba(0,0,0,0.6);
    }
  }
  .nav.fa {
    display: none;
  }

  .column img{
    width: 95%;
  }
}

@media (max-width: 768px) {
  #new-home {
    justify-content: center;
    h1 {
      text-align: center;
      margin-top: 0;
    }
  }
  p, h3 {
    margin-top: 15px;
    font-size: 1.08rem;
    line-height: 1.55rem;
  }
  .navbar {
    .clickable {
      justify-content: flex-end;
      min-width: 0;
    }
    .nav2 {
      display: none;
    }
    .nav.fa {
      display: block;
    }
  }

  img{
    width: 100%;
  }

  .container{
    border: none;
  }
  .row {
    flex-direction: column;
  }
}