$font-stack: Montserrat, sans-serif;
$light: #ccd6f6;
$gray: #8892b0;
$blue: #87cefa;
$navy: rgb(10,25,47);
$soft-white: #f8f9fa;

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin bigFlex() {
  display: flex;
  width: 100%;
}

@mixin fixedCenter() {
  display: flex;
  position: fixed;
  width: 90%;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin sideBar() {
  position: relative;
  margin: 0;
  flex-direction: row;
}

html {
  @include bigFlex();
}

body {
  font: 100% $font-stack;
  color: black;
  min-height: 100vh;
  background-color: $soft-white;
  @include bigFlex();
}

#root{
  @include bigFlex();
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projects{
  //margin-top: 2vh;
  background: linear-gradient(180deg,#F7FAF2,#ffffff);
  width: 100%;
  display: flex;
  justify-content: center;

  h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
  }

}

.App {
  @include bigFlex();
  z-index: 4;
  justify-content: center;
  height: calc(100vh - min(500px, 100vh) - 70px);
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  img {
    position: static;
    height: auto;
    max-width: 100%;
  }
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
    white-space: pre-wrap;
}

.top {
  content: "";
  position: fixed;
  width: 100vw;
  height: 70px;
  background: $soft-white;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  z-index: 5;
}

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 30px;
  }
}

.vertical-timeline::before {
  background: #F0F0F0!important;
}

.navbar {
  @include fixedCenter();
  //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  //background-color: black;
  padding: 0;
  background-color: $soft-white;
  margin: 0;
  height: 70px;
  z-index: 6;
  a {font-size: 1rem;}

  .nav1 {
    flex: 2;
    align-self: center;
  }

  .clickable {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-self: center;
    min-width: 500px;
  }

  .nav2 {
    flex: 1;
    text-align: center;
  }
}

.link i {
  font-size: 30px;
}

.link {
  padding: 8.5px;
}

a:hover {
  color: grey!important;
}

a {
    cursor: pointer;
}

.link:hover {
  color: $light;
  a {
    display: flex;
    flex-direction: column;
    padding: 8.5px;
  }
}

.socials {
  @include sideBar();
  align-self: center;
  width: 94%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 5vh;
}

.big-foot {
  display: flex;
  flex-direction: column;
}

.arrows {
  @include sideBar();
  text-align: right;
  align-items: flex-end;

  a {
    display: flex;
    flex-direction: column;
    padding: 8.5px;
  }
}

.experiences {
  width: 100%;
  background: linear-gradient(180deg,#F2FAFF,#ffffff);
  //background:;
}


.page {
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  display: flex;
  justify-content: center;

  * {
    //background: rgba(0,0,0,0.6);
  }

  div {
    border-radius: 5px;
  }
  button:hover {
    background: rgba(204, 214, 246, 0.08);
    //background-color: rgba(10,25,47,0.61);
  }

  .no-top {
    margin-top: 0;
    padding-top: 0;
  }
}

#new-home{
  //margin-top: 70px;
  width: 100%;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ), url("IMG_0837.JPG");
  height: 90vh;
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    position: static;
    width: 30vw;
    height: auto;
  }
  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  h1 {
      font-size: 103px;
      margin-top: 0;
      margin-bottom: 4vh;
  }
  h2 {
    font-size: 27.9px;
  }
}

#about {
  background: linear-gradient(180deg,#F7FAF2,#ffffff);
  //margin-bottom:6vh;
  //margin-top: 2vh;
}

.body {
  .container.big {
    //margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container.small{
    max-width: 1000px;
  }
  //.container{
  //  width: 100%;
  //  max-width: 1000px;
  //  height: 100%;
  //
  //}
}


//.footer {
//  margin-top: 1vh;
//  margin-bottom: 3vh;
//}

//.big.footer{
//  margin: 0;
//  width: 100vw;
//  text-align: center;
//  background: linear-gradient(180deg,#F7FAF2,#ffffff);
//  height: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}


@media screen and (min-width: 769px) {
  h1 {
    font-size: 3.2857rem;
    //line-height: 4rem;
  }

  p {
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .nav.fa {
    display: none;
  }

  .column img{
    width: 95%;
  }
}

@media (max-width: 768px) {
  #new-home {
    height: calc(100vh);
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    h1 {
      text-align: center;
      margin-top: 0;
    }
  }
  .App {
    height: 200px;
  }
  p, h3 {
    margin-top: 15px;
    font-size: 1.08rem;
    line-height: 1.55rem;
  }
  .navbar {
    .clickable {
      justify-content: flex-end;
      min-width: 0;
    }
    .nav2 {
      display: none;
    }
    .nav.fa {
      display: block;
    }
  }

  img{
    width: 100%;
  }

  .container.small {
    border: none;
    width: 90%;
  }

  .arrows {
    display: none;
  }
  .row {
    flex-direction: column;
  }
}