$font-stack: Montserrat, sans-serif;
$light: #ccd6f6;
$gray: #8892b0;
$blue: #87cefa;
$navy: rgb(10,25,47);
$soft-white: #f8f9fa;

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@mixin bigFlex() {
  display: flex;
  width: 100%;
}

@mixin fixedCenter() {
  display: flex;
  position: fixed;
  max-width: 1500px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin sideBar() {
  position: relative;
  margin: 0;
  flex-direction: row;
}

html {
  @include bigFlex();
  //scroll-behavior: smooth;
}

body {
  font: 100% $font-stack;
  font-size: 17px;
  color: black;
  min-height: 100vh;
  background-color: $soft-white;
  @include bigFlex();
}

#root{
  @include bigFlex();
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;

  ul {
    display: flex;
    margin: 0;
  }

  * {
    padding: 0
  }
}

#projects {
  background: linear-gradient(180deg,#F7FAF2,#ffffff);
  .column {
    padding-bottom: 5vh;
  }

  .row {
    align-items: center;
    justify-content: center;
  }

  .column {
    align-items: center;
    justify-content: center;
  }

  img {
    box-shadow: 0 2px 5px 0px grey;
    margin: 0 auto;
    object-fit: cover;
    object-position: 0 0;
    display: block;
    border-radius: 5px;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    //width: 100%;
    box-shadow: 0 2px 5px 0px grey;

    .project-links {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      i {
        font-size: 30px;
        display: none;
      }

      //z-index: -1;
    }
  }

  .project-links:hover {
    background: rgba(0,0,0,.15);
    z-index: 100;

    i {
      display: block;
      z-index: 2;
      color: white;
    }

    a {
      margin: 3%;
    }

    i:hover {
      cursor: pointer;
      color: powderblue;
    }

    + img {
    filter: blur(0.5px) brightness(80%);
  }
  }

  .caption > div {
    text-align: center;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }
  .caption.row {
    //width: calc(95% - 3vw);
  }
  .caption.column {
    //padding: 0;
    padding-bottom: 0;
    margin: 0;
    width: 95%;
  }

  .column img {
    //width: 100%;
  }
}


#resume {
   background: linear-gradient(180deg,#F7FAF2,#ffffff);
}
//:target::before {
//  content: "";
//  display: block;
//  height: 60px; /* fixed header height*/
//  margin: -60px 0 0; /* negative fixed header height */
//}

.App {
  @include bigFlex();
  z-index: 4;
  justify-content: center;
  height: calc(100vh - min(500px, 100vh) - 70px);
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
    white-space: pre-wrap;
}

.top {
  content: "";
  position: fixed;
  width: 100vw;
  height: 70px;
  background: $soft-white;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  z-index: 5;
}

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 1.5rem;
  }
}

.vertical-timeline::before {
  background: #F0F0F0!important;
}

.vertical-timeline.vertical-timeline--two-columns {
  margin: 0;
}

.navbar {
  @include fixedCenter();
  padding: 0;
  background-color: $soft-white;
  margin: 0;
  height: 70px;
  z-index: 200;
  a {font-size: 1rem;}

  .nav1 {
    flex: 2;
    align-self: center;
  }

  .clickable {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-self: center;
    min-width: 500px;
  }

  .nav2 {
    flex: 1;
    text-align: center;
  }
}

.link i {
  font-size: 0.9rem;
}

.link {
  padding: 8.5px 20px;
}

a:hover {
  color: grey!important;
}

a {
    cursor: pointer;
}

.socials {
  @include sideBar();
  align-self: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 4px;
  margin-bottom: 5vh;
}

.big-foot {
  display: flex;
  flex-direction: column;
  background-color: $soft-white;

  p {
    margin: 0;
    padding: 8.5px;
  }
}

#footer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: $soft-white;
}

#experiences {
  background: linear-gradient(180deg,#F2FAFF,#ffffff);
  .container {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  //background: #E3E3E3;
}

#about {
  background: linear-gradient(180deg,#F7FAF2,#ffffff);

  .container {
      margin-top: 10vh;
    }
}

#contact {
  background: linear-gradient(180deg,#F2FAFF,#ffffff);
}

.page {
  //overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    margin-top: 8vh;
    margin-bottom: 3.5vh;
    max-width : 1000px;
    //overflow-x: auto;
    float:left;
    clear:left;
  }

  h1 {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
  }
}

#new-home{
  //margin-top: 70px;
  width: 100%;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ), url("IMG_0837.JPG");
  height: 90vh;
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    position: static;
    //width: 30vw;
    //height: auto;
  }
  .socials i {
    color: black;
  }

  .socials {
    flex-direction: column;
    width: auto;
    margin: 0;
  }

  .caption {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  h1 {
      font-size: 103px;
      margin-top: 0;
      margin-bottom: 4vh;
  }
  h2 {
    font-size: 28px;
  }
}

.page img {
  position: static;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 769px) {

  .image-wrapper {
    max-height: 250px;
  }

  .page .container {
    width: 90%;
  }
  .words.column {
    margin-right: 3rem;
  }
  .not-mobile {
    display: block;
  }
  .mobile {
    display: none;
  }

  //.image-wrapper{
  //  width: max(18vw, 240px);
  //}
  iframe {
    height: 1150px;
  }

  .face.column {
    flex: 1.5;
  }

  #projects {
    img {
      max-width: 260px;
      max-height: 130px;
      //height: auto;
    }
  }

  .image {
    flex-basis: 28%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
    //justify-content: center;
  }

  h1 {
    font-size: 3.2857rem;
  }

  p {
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .nav.fa {
    display: none;
  }

  .column img{
    width: 95%;
  }

  .bottom.section {
    display: flex;
  }
}

.face.column {
  transition: all 0.4s ease-out
}

@media (max-width: 1000px) {
  .face.column {
    flex: 2;
  }
}

@media (max-width: 850px) {
  .face.column {
    flex: 3;
  }
}


@media (max-width: 768px) {
  .image {
    padding-bottom: 30px;
  }
  .image-wrapper {
    max-height: 30vh;
  }


  .page .container {
    width: 95%
  }
  .not-mobile {
    display: none;
  }
  .mobile {
    display: block;

    h1 {
      margin-bottom: 0;
    }
  }

  .mobile>h1::after{
    content: '';
    display: block;
    border-top: 6px solid blue;
    margin-top: 0.5em;
    margin-bottom: 2%;
  }

  //.words.column::after{
  //  content: '';
  //  display: block;
  //  border-top: 1px solid gray;
  //  margin-top: 2vh;
  //  margin-bottom: 2%;
  //}

  #new-home h1 {
    font-size: 10vh;
  }

  #new-home h2 {
    font-size: 3vh;
  }

  #about {
    //.row {
    //  flex-direction: column-reverse;
    //}
    //img {
    //  width: 60%;
    //  margin: 0 auto;
    //}
    .container {
      margin: 5vh;
    }
    h1 {
      margin-top: 1.5vh;
      margin-bottom: 2vh;
    }
    .face.column {
      margin-top: 3vh;
    }
    //img {
    //  display: none;
    //}
  }
  .image-wrapper{
    width: 100%;
  }
  iframe {
    height: 650px;
  }

  #projects {
    .column {
      padding-right: 0vw;
    }
  }
  #new-home {
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    h1 {
      text-align: center;
      margin-top: 0;
    }
  }
  .App {
    height: 200px;
  }
  p, h3 {
    margin-top: 15px;
    font-size: 1.08rem;
    line-height: 1.55rem;
  }
  .navbar {
    .clickable {
      justify-content: flex-end;
      min-width: 0;
    }
    .nav2 {
      display: none;
    }
    .nav.fa {
      display: block;
    }
  }

  .row {
    flex-direction: column;
  }

  .bottom.section {
    display: block;
  }
}