html {
  display: flex;
  width: 100%;
}

body {
  font: 100% Montserrat, sans-serif;
  color: black;
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projects {
  background: linear-gradient(180deg, #F7FAF2, #ffffff);
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  width: 100%;
  z-index: 4;
  justify-content: center;
  height: calc(100vh - min(500px, 100vh) - 70px);
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.column img {
  position: static;
  height: auto;
  max-width: 100%;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  white-space: pre-wrap;
}

.top {
  content: "";
  position: fixed;
  width: 100%;
  height: 70px;
  background: #f8f9fa;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.navbar {
  display: flex;
  position: fixed;
  width: 90%;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  background-color: #f8f9fa;
  margin: 0;
  height: 70px;
  z-index: 6;
}
.navbar a {
  font-size: 1rem;
}
.navbar .nav1 {
  flex: 2;
  align-self: center;
}
.navbar .clickable {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  min-width: 500px;
}
.navbar .nav2 {
  flex: 1;
  text-align: center;
}

.link i {
  font-size: 40px;
}

.link {
  padding: 8.5px;
}

a:hover {
  color: grey !important;
}

a {
  cursor: pointer;
}

.link:hover {
  color: #ccd6f6;
}
.link:hover a {
  display: flex;
  flex-direction: column;
  padding: 8.5px;
}

.socials {
  position: relative;
  margin: 0;
  flex-direction: row;
  text-align: center;
  margin-top: 5vh;
}

.arrows {
  position: relative;
  margin: 0;
  flex-direction: row;
  text-align: right;
  align-items: flex-end;
}
.arrows a {
  display: flex;
  flex-direction: column;
  padding: 8.5px;
}

.page {
  display: grid;
  grid-auto-rows: 1fr;
}
.page div {
  border-radius: 5px;
}
.page .whiter {
  margin-bottom: 20px;
}
.page button:hover {
  background: rgba(204, 214, 246, 0.08);
}
.page .no-top {
  margin-top: 0;
  padding-top: 0;
}

#new-home {
  margin-top: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("IMG_0837.JPG");
  height: min(500px, 100vh);
  color: white;
}
#new-home img {
  position: static;
  width: 30vw;
  height: auto;
}
#new-home .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#new-home h1 {
  font-size: 80px;
  margin-bottom: 10vh;
}

#home {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#home img {
  position: static;
  width: 10vw;
  border-radius: 5px;
  height: auto;
}

.body .container.big {
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body .container.small {
  max-width: 1000px;
}

.footer {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.big.footer {
  margin: 0;
  width: 100vw;
  text-align: center;
  background: linear-gradient(180deg, #F7FAF2, #ffffff);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 3.2857rem;
    line-height: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .page .container.big {
    min-height: 65vh;
    align-self: end;
  }

  .nav.fa {
    display: none;
  }

  .column img {
    width: 95%;
  }
}
@media (max-width: 768px) {
  #new-home {
    height: calc(100vh - 70px);
    justify-content: center;
  }
  #new-home h1 {
    text-align: center;
    margin-top: 0;
  }

  .App {
    height: 200px;
  }

  p, h3 {
    margin-top: 15px;
    font-size: 1.08rem;
    line-height: 1.55rem;
  }

  .navbar .clickable {
    justify-content: flex-end;
    min-width: 0;
  }
  .navbar .nav2 {
    display: none;
  }
  .navbar .nav.fa {
    display: block;
  }

  img {
    width: 100%;
  }

  .container.small {
    border: none;
    width: 90%;
  }

  .arrows {
    display: none;
  }

  .row {
    flex-direction: column;
  }
}

/*# sourceMappingURL=App.css.map */
