html {
  display: flex;
  width: 100%;
}

body {
  font: 100% Montserrat, sans-serif;
  font-size: 17px;
  color: black;
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#projects {
  background: linear-gradient(180deg, #F7FAF2, #ffffff);
}
#projects .column {
  padding-bottom: 5vh;
}
#projects img {
  box-shadow: 0 2px 5px 0px grey;
  width: 100%;
  display: block;
}
#projects .image-wrapper {
  position: relative;
}
#projects .image-wrapper .project-links {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#projects .image-wrapper .project-links i {
  font-size: 30px;
  display: none;
}
#projects .project-links:hover {
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
}
#projects .project-links:hover i {
  display: block;
  z-index: 2;
  color: white;
}
#projects .project-links:hover a {
  margin: 3%;
}
#projects .project-links:hover i:hover {
  cursor: pointer;
  color: powderblue;
}
#projects .project-links:hover + img {
  filter: blur(0.5px) brightness(80%);
}
#projects .caption > div {
  text-align: center;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
#projects .caption.column {
  padding-bottom: 0;
  margin: 0;
  width: 95%;
}
.react-pdf__Page__canvas {
  max-width: 700px;
  width: 95% !important;
  height: auto !important;
  margin: 0 auto;
}

#resume {
  background: linear-gradient(180deg, #F7FAF2, #ffffff);
}

.App {
  display: flex;
  width: 100%;
  z-index: 4;
  justify-content: center;
  height: calc(100vh - min(500px, 100vh) - 70px);
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  white-space: pre-wrap;
}

.top {
  content: "";
  position: fixed;
  width: 100vw;
  height: 70px;
  background: #f8f9fa;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-timeline-element-icon i {
  font-size: 30px;
}

.vertical-timeline::before {
  background: #F0F0F0 !important;
}

.vertical-timeline.vertical-timeline--two-columns {
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  max-width: 1500px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  background-color: #f8f9fa;
  margin: 0;
  height: 70px;
  z-index: 200;
}
.navbar a {
  font-size: 1rem;
}
.navbar .nav1 {
  flex: 2;
  align-self: center;
}
.navbar .clickable {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  min-width: 500px;
}
.navbar .nav2 {
  flex: 1;
  text-align: center;
}

.link i {
  font-size: 30px;
}

.link {
  padding: 8.5px;
}

a:hover {
  color: grey !important;
}

a {
  cursor: pointer;
}

.socials {
  position: relative;
  margin: 0;
  flex-direction: row;
  align-self: center;
  width: 94%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 5vh;
}

.big-foot {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fbfbfc;
}

#experiences {
  background: linear-gradient(180deg, #F2FAFF, #ffffff);
}

#about {
  background: linear-gradient(180deg, #F7FAF2, #ffffff);
}
#about .container {
  margin-top: 10vh;
}

#contact {
  background: linear-gradient(180deg, #F2FAFF, #ffffff);
}

.page {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page .container {
  margin-top: 4.5%;
  margin-bottom: 3.5vh;
  max-width: 1000px;
  width: 90%;
  overflow-x: auto;
  float: left;
  clear: left;
}
.page h1 {
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: center;
}

#new-home {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("IMG_0837.JPG");
  height: 90vh;
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#new-home img {
  position: static;
}
#new-home .socials i {
  color: black;
}
#new-home .socials {
  flex-direction: column;
  width: auto;
  margin: 0;
}
#new-home .caption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#new-home .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#new-home h1 {
  font-size: 103px;
  margin-top: 0;
  margin-bottom: 4vh;
}
#new-home h2 {
  font-size: 28px;
}

.page img {
  position: static;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
  .not-mobile {
    display: block;
  }

  .mobile {
    display: none;
  }

  .image-wrapper {
    width: 95%;
  }

  iframe {
    height: 1150px;
  }

  .face.column {
    flex: 1.5;
  }

  #projects .column {
    padding-right: 3vw;
  }
  #projects img {
    flex: 1.5;
  }

  h1 {
    font-size: 3.2857rem;
  }

  p {
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .nav.fa {
    display: none;
  }

  .column img {
    width: 95%;
  }
}
@media (max-width: 1000px) {
  .face.column {
    flex: 3;
  }
}
@media (max-width: 768px) {
  .not-mobile {
    display: none;
  }

  .mobile {
    display: block;
  }
  .mobile h1 {
    margin-bottom: 0;
  }

  .mobile > h1::after {
    content: "";
    display: block;
    border-top: 6px solid blue;
    margin-top: 0.5em;
    margin-bottom: 2%;
  }

  #about .row {
    flex-direction: column-reverse;
  }
  #about img {
    width: 60%;
    margin: 0 auto;
  }
  #about .container {
    margin: 5vh;
  }

  .image-wrapper {
    width: 100%;
  }

  iframe {
    height: 650px;
  }

  #projects .column {
    padding-right: 0vw;
  }

  #new-home {
    height: calc(100vh);
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
  }
  #new-home h1 {
    text-align: center;
    margin-top: 0;
  }

  .App {
    height: 200px;
  }

  p, h3 {
    margin-top: 15px;
    font-size: 1.08rem;
    line-height: 1.55rem;
  }

  .navbar .clickable {
    justify-content: flex-end;
    min-width: 0;
  }
  .navbar .nav2 {
    display: none;
  }
  .navbar .nav.fa {
    display: block;
  }

  .row {
    flex-direction: column;
  }
}

/*# sourceMappingURL=App.css.map */
