.contact{
  background: linear-gradient(180deg,#F2FAFF,#ffffff);
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-field {
    position: relative;
}

input, textarea, button.form-field {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 0.5px 1px #ddd;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15px;
  border-radius: 5px;
}

button.form-field {
  background: #f8f8f8;
  border-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  color: mix(mix(darkgray,black), black);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


textarea{
  padding: 15px 15px
}
input, button.form-field{
  height: 50px;
}

textarea {
  height: 100px;
}

input, select, textarea {
    width: calc(100% - 30px);
    font-size: 14px;
    vertical-align: middle;
}

.contact.form {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 500px
}

.form.row {
  justify-content: center;
  align-items: center;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

.send {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  //width: 100%;
}

.sk-circle-fade, .fa-spinner {
  //margin-top: 1em;
  margin-left: 0.7em;
  width: 20px!important;
  height: 20px!important;
  font-size: 25px;
}

button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  //color: mix(mix(white, gray), black);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#contact {
  button {

  }
}

label {
  margin-top: 20px;
  font-size: .94rem;
  display: inline-block;
}

button {
  align-items: center;
}

.manual.caption {
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}

.contact.bottom {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.message {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 3%;
  width: 80%;
  justify-content: space-between;
  font-size: 17px;
  margin-right: 0;

  .x {
    margin-left: 3%;
  }
}

.success {
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 40%);
  background-repeat: repeat-x;
  border-color: #b2dba1;
  color: #155724;
}

.red {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.6)!important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.6)!important;
  box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.6)!important;
  border: 1px solid mix(rgb(255, 0, 0), #ccc)!important;
}

.failure {
  color: #721c24;
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 40%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

.contact.form-field {
    width: 4rem;
    padding: 0;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

@media (max-width: 768px) {
  #contact h2 {
    text-align: center;
    margin-bottom: 0;
  }
}