.contact{
  background: linear-gradient(180deg,#F2FAFF,#ffffff);
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-field {
    position: relative;
}

input, textarea, button.form-field {
  background-color: transparent;
  border: 1px solid #2e344e;
  //color:#8892b0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15px;
  border-radius: 5px;
}

//input, textarea{
//  background-color: rgb(10,25,47) !important
//}

textarea{
  padding: 15px 15px
}
input, button.form-field{
  height: 50px;
}

textarea {
  height: 100px;
}

input, select, textarea {
    width: 80%;
    font-size: 14px;
    vertical-align: middle;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  //background-color: grey;
  border: 1px solid grey;
  color: grey;
  background: rgba(204, 214, 246, 0.08);
}

label {
    margin-top: 20px;
    font-size: .94rem;
    display: inline-block;
}

button.form-field {
  background-color: transparent;
  margin-top: 20px;
  align-items: center;
  //border: 1px solid #ccd6f6;
  //color: #ccd6f6;
}

.contact.form-field {
    width: 18%;
    padding: 0;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

@media (max-width: 768px) {
  .contact.form-field {
    width: 25%;
    padding: 0;
  }
  input, select, textarea {
    width: 90%;
}

}